/*
 * =/  DEMO Grille
 * 
**************************************************************************************/

.grille-demo{
  background: #eee;
}

.grille-demo .col-100, .grille-demo .col-90, .grille-demo .col-80, .grille-demo .col-75, .grille-demo .col-70, .grille-demo .col-66, .grille-demo .col-65, .grille-demo .col-60, .grille-demo .col-50, .grille-demo .col-40, .grille-demo .col-35, .grille-demo .col-33, .grille-demo .col-30, .grille-demo .col-25, .grille-demo .col-20, .grille-demo .col-10,
.grille-demo .col-push-100, .grille-demo .col-push-90, .grille-demo .col-push-80, .grille-demo .col-push-75, .grille-demo .col-push-70, .grille-demo .col-push-66, .grille-demo .col-push-65, .grille-demo .col-push-60, .grille-demo .col-push-50, .grille-demo .col-push-40, .grille-demo .col-push-35, .grille-demo .col-push-33, .grille-demo .col-push-30, .grille-demo .col-push-25, .grille-demo .col-push-20, .grille-demo .col-push-10,
.grille-demo .blocks-2>li, .grille-demo .blocks-3>li, .grille-demo .blocks-4>li, .grille-demo .blocks-5>li, .grille-demo .blocks-6>li {
text-align: center;
font-size: 14px;
background-color: #1ABC9C;
padding: 20px 0;
color: rgba(255,255,255,0.90);
line-height: 1;
}

.bg-demo-width {
  background: #1ABC9C;
  color: #fff;
  margin: 10px 0;
  padding: 10px 10px 10px 20px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
/*
** STRUCTURE GLOBAL
**************************************************************************************/

body#accueil{
} 

.container {
  margin: 30px auto 0 auto;
  padding: 0 15px auto 15px;
  width: 80%;
  max-width: 1200px;
}


.main-container {
  padding: 40px 10%;
  margin: 0 auto 50px auto;
  background: -webkit-gradient(linear,left top, right top,from(#53C1AB),to(#5DABDB));
  background: -webkit-linear-gradient(left,#53C1AB,#5DABDB);
  background:  -moz-linear-gradient(left,#53C1AB,#5DABDB);
  background:    -o-linear-gradient(left,#53C1AB,#5DABDB);
  background:       linear-gradient(left,#53C1AB,#5DABDB);
}

.download-page-mobile {
    display: none;
}

header {
  padding: 0 10%;
  border-top: 1px solid #D2D3D5;
  border-bottom: 1px solid #D2D3D5;
  /*background: url("../img/slider-docu.png") no-repeat center center / cover #f6f6f6;*/
  background:#f6f6f6;
}

header .cols-row{
  max-width: 1200px;
  margin: 55px auto 60px;
}

header h2.soustitre{
  margin: 10px 0 0 0;
  font-size: 20px;

}

h1.slider{
  color: #fff;
  font-weight: 400;
  font-size: 26px;
}

h1.slider span{
  padding: 20px 40px;
  border-radius: 2px;
  background: -webkit-gradient(linear,left top, right top,from(#53C1AB),to(#5DABDB));
  background: -webkit-linear-gradient(left,#53C1AB,#5DABDB);
  background:  -moz-linear-gradient(left,#53C1AB,#5DABDB);
  background:    -o-linear-gradient(left,#53C1AB,#5DABDB);
  background:       linear-gradient(left,#53C1AB,#5DABDB);
}

.titre-slim {
  font-size: 38px;
  font-weight: normal;
  margin: 0 0 1em 0;
}

.doc-slim {
  margin: 2em 0 1em 0;
  position: relative;
}

a.doc-link {
  color: #95A5A6;
  position: absolute;
  top: 0;
  right: 0;
}

a.doc-link:hover {
  color: #7F8C8D;
}

#nav-principal,
#nav-index {
  margin-bottom: 0;
}
#nav-principal ul li a,
#nav-index ul li a{ 
  padding: 20px 20px;
  font-weight: 500;
  font-size: 14px;
  color: #7f8c8d;
}

#nav-principal ul li a.btn-lg{ 
  color: #1ABC9C;
  padding: 13px 30px;
}

#nav-principal ul li a:hover,
#nav-index ul li a:hover{
  color: #2c3e50;
}

#nav-principal ul li a.btn-lg:hover,
#nav-principal ul li.menu-top-block a{
  color: #fff;
}

#nav-principal ul li a.current{
  color: #2c3e50;
}

#nav-principal ul li a.currentdl{
  background: #1ABC9C;
  color: #ffffff;
}

#nav-index{ 
  margin: 20px 0 30px;
}

#nav-index ul li a{ 
  color: #ffffff;
}

#nav-side ul li a{ 
  padding: 10px 15px;
  font-weight: 500;
  font-size: 14px;
  color: #3498DB;
  text-decoration: none;
}

#nav-side ul li.current a,
#nav-side ul li.current a:hover{ 
  color: #2C3E50;
  border: none;
}

#logo-acc h1{
  font-size: 40px;
  margin: 30px 0 0 0;
  color: #fff;
}

#logo-acc h2{
  margin: 20px 0 40px 0;
 color: #fff; 
}

.btn-acc{
  margin: 0 30px 20px 0;
  font-size: 16px;
  font-weight: 500;
}

.btn-acc:before{
  padding: 0 16px;
  margin: 0 16px 0 0;
}

#nav-side ul li a:hover{
  border-left:3px solid #2980B9;
  color: #2980B9;
}


#utilisation {
    padding: 52px 0 0 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
    margin-bottom: 30px;
    border-bottom: 1px solid #EAEAEA;
}

#utilisation ol {
    counter-reset: steps;
    list-style: none outside none;
}
#utilisation li {
    counter-increment: steps;
    display: inline-block;
    padding-top: 34px;
    margin-bottom: 30px;
    position: relative;
    width: 224px;
}
#utilisation li:nth-child(2) {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ddd;
    border-image: none;
    border-style: solid;
    border-width: 0 1px;
    width: 225px;
}
#utilisation li:before, #utilisation li:after {
    position: absolute;
}
#utilisation li:before {
    animation: 3s linear 0s normal none infinite spin;
    background: linear-gradient(to right bottom, #53C1AB, #5DABDB) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 17px;
    content: "";
    height: 33px;
    left: 96px;
    top: -10px;
    width: 33px;
}
#utilisation li:after {
    background: none repeat scroll 0 0 #fff;
    border-radius: 15px;
    content: counter(steps, decimal);
    font-size: 18px;
    font-weight: 500;
    height: 29px;
    left: 98px;
    line-height: 29px;
    text-shadow: 0 1px 0 rgba(5, 11, 22, 0.3);
    top: -8px;
    width: 29px;
}

.bloc-icon {
  display: inline-block;
  width: 24%;
  padding: 15px 0;
}

.bloc-icon:hover code{
  color: #333;
}

.bloc-icon span{
  font-size: 25px;
  padding: 10px 15px 20px 2px;
}

.bloc-couleur {
  padding: 20px;
  color: #fff;
  font-weight: 500;
  float: left;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.bloc-profil {
  border: 1px solid #d2d3d5;
  padding: 20px 20px 3px 20px;
  border-radius: 3px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.bloc-profil h3{
  margin: 0;
  color: #444;
}
.bloc-profil img {
  border-radius: 300px;
  margin-right: 20px;
  float: left;
}

/* Changelog */

ul.changelog{
  margin-top: 15px;
  margin-left: 0;
}

ul.changelog li{
  margin: 0 0 5px 0;
  list-style-type: none;
}


.sticker {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.3px;
  font-size: 11px;
  margin-right: 4px;
  position: relative;
  top: -2px;
  line-height: 11px;
  padding: 3px 6px 2px;
  display: inline-block;
  border-radius: 3px;
}

span.added {
  border: 1px solid #27ae60;
  background: #27ae60;
  color: #ffffff;
}

span.fixed {
  border: 1px solid #2c3e50;
  background: #2c3e50;
  color: #ffffff;
}

span.improved {
  border: 1px solid #2980b9;
  background: #2980b9;
  color: #ffffff;
}

.menu-top-full .menu-top-block {
  display: none;
}

.version-slim {
  margin-bottom: 40px;
}

.version-slim .col-25{
  background: #ffffff;
  border-top: 1px solid #ADC5D1;
  border-bottom: 1px solid #ADC5D1;
  border-left: 1px solid #ADC5D1;
  font-size: 20px;
  font-weight: 100;
  position: relative;
  padding: 18px;
  color: rgb(52, 152, 219);
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.version-slim .col-25:hover{
  color: #ffffff;
  cursor: pointer;
  background: rgb(52, 152, 219);
}

.version-slim .active{
  color: #ffffff;
  cursor: pointer;
  background: rgb(52, 152, 219);
}

.ico-big {
  margin-top: 20px;
}

.ico-big i{
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  float: left;
}

.ico-big span{
  line-height: 30px;  
  margin-left: 10px;
  font-size: 16px;
  float: left;
}

.version-slim .last{
  border-right: 1px solid #ADC5D1;
}


.version-slim span{
  font-size: 100px;
  padding: 30px 30px 25px;
  display: inline-block;
}

.version-slim .active .triangle{
  position: absolute;
  top: 213px;
  right: 40%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 25px 0 25px;
  border-color: #3498DB transparent transparent 
}

/* Media queries!
-------------------------------------------------------------------------------*/

/* 960 Screens */
@media only screen and (min-width: 960px) and (max-width: 1250px) {

}


/* menu */
@media only screen and (min-width: 768px) and (max-width: 1179px) {
  .menu-top-full .menu-top-none {
    display: none;
  }

  .version-slim span {
    font-size: 50px;
  }
  
  .version-slim .active .triangle{
    top: 163px;
  }

  .menu-top-full .menu-top-block {
    display: table-cell;
  }

  .cols-row .menu-top-full {
    width: 100%;
  }
}


/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 959px) {

  header h2.soustitre {
    font-size: 20px;
    margin: 10px 0 0 10px;
  }

  .container {
    width: 95%;
  }

}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 850px) {

  .menu-top-full .menu-top-block {
      display: none;
  }
  .container {
    width: 95%;
  }

}

/* All (devices and browser) after mobile */
@media only screen and (min-width: 767px) {
  .mobile {
    display: none; 
 }
 .container {
    width: 95%;
  }
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .container {
    width: 95%;
  }
 .no-mobile {
    display: none; 
 }
 .menu-top-full .menu-top-none {
    display: none;
  }

 .mobile {
    display: block; 
 }

 #utilisation li:nth-child(2) {
      border: none;
  }

  .btn-dl{
    margin: 20px 0 0 0;
  }

  h1.slider {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .logo-mobil {
    text-align: center;
  }


}

/* Mobile Landscape */
@media only screen and (min-width: 481px) and (max-width: 767px) { 

}

/* Mobile Portrait */
@media only screen and (max-width: 480px) {
  
  .btn-acc{
    margin: 0 0 20px 0;
  }

  #utilisation li:nth-child(2) {
      border: none;
  }

  .btn-icon {


  }
}